// button,
// input[type="button"],
// input[type="reset"],
// input[type="submit"] {
// 	border: 1px solid;
// 	border-color: $color__border-button;
// 	border-radius: 3px;
// 	background: $color__background-button;
// 	color: rgba(0, 0, 0, 0.8);
// 	line-height: 1;
// 	padding: 0.6em 1em 0.4em;

// 	&:hover {
// 		border-color: $color__border-button-hover;
// 	}

// 	&:active,
// 	&:focus {
// 		border-color: $color__border-button-focus;
// 	}
// }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	background: $color__dark_gray;
	color: $color__white;
	line-height: 1;
	padding: 0.8em 1.5em;
	transition: background 0.2s;
}

.btn-primary {
	height: 55px;
	min-width: 150px;
	background: linear-gradient(90deg, $color__light_green 50%, #fff 0);
	background-position: 0;
	background-size: 200% auto;
	border-color: $color__light_green;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 16px;
	transition: all 0.3s;

	&:not(:disabled):hover {
		background-position: 100%;
		border-color: $color__light_green;
		color: $color__light_green;
	}

	&:visited {
		color: #fff;
	}
}

.btn-secondary {
	height: 55px;
	min-width: 150px;
	background: linear-gradient(90deg, transparent 50%, #fff 0);
	background-position: 0;
	background-size: 200% auto;
	border-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 16px;
	transition: all 0.3s;
	position: relative;

	&:not(:disabled):hover {
		background-color: transparent;
		background-position: 100%;
		border-color: #fff;
		color: $color__dark_gray;
	}

	&:visited {
		color: #fff;
	}
}

.btn.min-w-300 {
	min-width: 300px;
}

.btn.btn-hero {
	font-size: 20px;
	font-weight: 300;
	height: 65px;
}

.btn.btn-hero .icon {
	position: absolute;
	right: 7px;
}
