header {
	background: transparent;
	position: fixed;
	top: 0;
	transition: all 0.3s ease-in-out;
	z-index: 99;

	& > *,
	a:not(.dropdown-item):visited {
		color: #fff;
	}
}

header.bg-blue {
	background: #283874;
}

.top-menu .site-description {
	font-size: 12px;
	font-weight: 100;
	display: flex;
	gap: 10px;
	align-items: center;
}

.top-menu ul.nav li a,
.top-menu .lang-option {
	font-size: 14px;
}

.top-menu .site-description,
.top-menu .lang-option {
	align-self: center;
}

.top-menu {
	border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}

.top-menu ul.nav li a {
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 600;
	opacity: 0.5;
	color: #fff;

	&:hover {
		opacity: 0.75;
	}
}

.top-menu ul.nav li a.active {
	border-bottom: 3px solid $color__light_green;
	opacity: 1;
}

.top-menu .lang-option {
	margin-left: 16px;
}

.top-menu .lang-option > a {
	color: #fff;
}

.top-menu .lang-option ul {
	inset: 0px 0px auto auto !important;
}

.top-menu .lang-option ul li a {
	line-height: 40px;
	padding-left: 25px;
	font-size: 14px;
}

.main-menu {
	padding: 20px 60px;
}

.main-menu ul.nav-primary {
	font-size: 16px;
}

.main-menu ul.nav-primary li a {
	color: #fff;
}

.main-menu .nav-button {
	margin-left: auto !important;
}
